<h2 class="mb-4 fw-bold text-warning mt-4 ">📋 Blogs:
  <% if (user) { %>
  <h2>Welcome: <%= user.username %></h2>
  <% } else { %>
  <h2>Welcome, guest</h2>
  <p>Please &ensp;<a href="/login">log in</a> <span> / &ensp;</span> <a href="/signup-user">Signup</a> </p>
  <span>Or</span>
  <div class="mt-4 mb-4"> <a href="/exit-guest" class="btn btn-outline-secondary">Exit</a>
  </div>

  <% } %>
</h2>

<% if(items.length > 0){ %>
<div class="table-responsive">
  <table class="table table-striped table-hover shadow-sm align-middle">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Title</th>
        <th class="d-none d-sm-table-cell">Last Update</th>
        <th>Status</th>
        <th class="text-end">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% items.forEach((item, i) => { %>
      <tr>
        <th scope="row"><%= i + 1 %></th>
        <td class="fs-6"><%= item.title %></td>
        <td class="d-none d-sm-table-cell fs-6"> <%= item.formattedDate  %> </td>
        <td>
          <span class="badge <%= item.done ? 'bg-success' : 'bg-warning text-dark' %>">
            <%= item.done ? 'Done' : 'Pending' %>
          </span>
        </td>
        <td class="text-end">
          <a href="/blog/<%= item._id %>/view" class="btn btn-info btn-sm me-1 mt-2">View</a>
          <form action="/blog/<%= item._id %>/delete" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger btn-sm mt-2">Delete</button>
          </form>
        </td>

      </tr>
      <% }) %>
    </tbody>
  </table>
</div>


<% } else { %>
<div class="alert alert-warning" role="alert">
  There are no blog created yet. Please create one!
</div>
<% } %>

<div class="container">
  <div class="d-flex justify-content-between mb-3">
    <a href="/blog/create" class="btn btn-success">Create New Blog</a>
  </div>
</div>

<div class="container">
  <hr class="my-5">
  <h2 class="mb-4 fw-bold text-primary fs-4 fs-md-2">🌍 All Users & Blogs</h2>


  <% if (allBlogs.length > 0) { %>
  <div class="table-responsive">
    <table class="table table-striped shadow-sm align-middle">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Author</th>
          <th>Blog Title</th>
          <th class="d-none d-md-table-cell">Last Update</th>
          <th class="d-none d-sm-table-cell">Status</th>
          <th class="text-end">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% allBlogs.forEach((blog, i) => { %>
        <tr>
          <td><%= i + 1 %></td>
          <td class="text-danger"> <%= blog.userId ? blog.userId.username : "Unknown User" %></td>
          <td class="fs-6"><%= blog.title %></td>
          <td class="d-none d-md-table-cell"><%= blog.formattedDate %></td>
          <td class="d-none d-sm-table-cell">
            <span class="badge <%= blog.done ? 'bg-success' : 'bg-warning text-dark' %>">
              <%= blog.done ? 'Done' : 'Pending' %>
            </span>
          </td>
          <td class="text-end">
            <a href="/blog/<%= blog._id %>/onlyView"
              class="btn btn-info btn-sm d-block d-md-inline-block w-100 w-md-auto mb-1">View</a>

            <% if (user && user.role === "admin") { %>
            <form action="/blog/<%= blog._id %>/delete" method="POST" class="d-inline">
              <button type="submit"
                class="btn btn-danger btn-sm d-block d-md-inline-block w-100 w-md-auto mb-1">Delete</button>
            </form>
            <% } %>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <% } else { %>
  <div class="alert alert-warning">
    <p> No blogs found in the database.
    </p>
  </div>
  <% } %>
</div>